<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for p in contacts %}
{{ p.title }}
    {{ p.text }}
{% endfor %}

<nav class="col full pagination">
            <ul>
  			      <li>
                  {% if contacts.has_previous %}
                  <li><span class="page-numbers prev">
                      <a href="?page={{ contacts.previous_page_number }}">Prev</a>
                      </span>
                     </li>
                  {% endif %}


                      {% for page in contacts.paginator.page_range %}
                          <li class="{% if contacts.number == page %} current {% endif %}"><a href="?page={{ page }}" class="page-numbers current">{{ page }}</a></li>
                              <li></li>



                      {% endfor %}


                      {% if contacts.has_next %}
  				      <li><a href="?page={{ contacts.next_page_number }}" class="page-numbers next">Next</a></li>
                      {% endif %}
  			      </ul>
  		      </nav>



</body>
</html>